[Unit]
Description=pi-web-console
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/pi-web-console
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi-web-console

[Install]
WantedBy=multi-user.target
